<h1>SubscriptionRecord#index</h1>
<p>Find me in app/views/subscription_record/index.html.erb</p>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-striped table-bordered ">
            <thead class="thead-dark">
                <tr>
                <th>Client</th>
                <th>Employee</th>
                <th>SubscriptionType info</th>
                <th>Pay</th>
                <th>fully paid</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @subscription_records.each do |subscription_record| %>
                <tr>
                    <td><%= subscription_record.client.name %></td>
                    <td><%= subscription_record.employee.name %></td>
                    <td><%= subscription_record.subscription_type.category %></td>
                    <td><%= subscription_record.pay %></td>
                    <td><%= subscription_record.is_fully_paid? ? 'Yes' : 'No' %></td>
                    <td>
                        <%= link_to 'Delete', destroy_subscription_record_path(subscription_record), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                        <%= link_to 'Add payment', new_payment_record_path(subscription_record), method: :get, class: 'btn btn-primary' %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%= link_to "Create new subscription type", new_subscription_record_path, class: "btn btn-primary" %>