<div class="container p-3 d-flex flex-column align-items-stretch">
<%= form_with model: @new_subscription_type, url: subscription_type_create_path, method: :post, local: true, scope: :new_subscription_type do |f| %>
    <div class="form-group">
    <%= f.label :Type %><br>
    <%= f.text_field :category,class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :Cost %><br>
    <%= f.number_field  :cost,class:"form-control"%>
    </div>

    <div class="form-group">
    <%= f.label :Profit %><br>
    <%= f.number_field  :profit,class:"form-control"%>
    </div>

    <%= f.submit "Save",class:"btn btn-primary" %>
<% end %>
</div>